#homepage {
    margin: 0 auto;
    max-width: 800px;
    background: cadetblue;
}


/*----header----*/

header {
    background: darkorange;
}

#homepage .logo img {
    width: 80px;
    height: 80px;
    padding: 20px;
}

#homepage .logo p {
    float: left;
}

#homepage .logo .menu nav ul {
    list-style-type: none;
    display: inline-block;
}

#homepage .logo .menu ul li a {
    text-decoration: none;
    color: white;
}

#homepage .logo .menu {
    background: rgb(143, 164, 170);
    color: white;
}


/*----main----*/

main {
    background: rgb(222, 236, 27);
}

main .box1 {
    float: left;
    width: 30%;
    box-sizing: border-box;
}

main .box2 {
    float: left;
    width: 70%;
    box-sizing: border-box;
    color: teal;
}

main .box1 img {
    max-width: 100%;
    max-height: 100%;
    margin-top: 50px;
}


/*----footer----*/

footer .box3 ul {
    list-style-type: none;
}

footer .box3 ul li a {
    text-decoration: none;
}

footer .box3 {
    float: left;
    width: 30%;
    box-sizing: border-box;
    background: rgb(29, 226, 29);
    padding: 10px;
}

footer .box4 {
    float: left;
    width: 70%;
    box-sizing: border-box;
    background: #d870d3;
    padding: 11.5px;
}